2. 01_expressions - Understanding expressions, arithmetic operations, and how Python
evaluates expressions.

1. Arithmetic Operators

In [1]:
num1 = 3
num2 = 6
print(num1+num2)
print(num1-num2)
print(num1*num2)
print(num1/num2)
print(num1//num2)
print(num1%num2)
print(num1**num2)

9
-3
18
0.5
0
3
729

2. Expression Evaluation Order
Python evaluates expressions using PEMDAS rules:

Parentheses ()

Exponents **

Multiplication *, Division /, Floor division //, Modulus %

Addition +, Subtraction -

In [2]:
calculate_result = 10 + 2 * 3 ** 2
print(calculate_result)

28

3. Type Conversion in Expressions

In [3]:
print(3 + 5.0)
print(True + 2)
print("num: " + str(5))

8.0
3
num: 5

Problem 1: Basic Expression Evaluation

In [5]:
a = 5 * 2 + 3
b = 5 * (2 + 3)
c = 2 ** 3 * 4
d = 10 % 3 + 5 // 2

print(a)
print(b)
print(c)
print(d)

13
25
32
3

Problem 2: Temperature Conversion with Expression

In [6]:
calculate_fahrenheit = 98.6
calculate_celsius = (calculate_fahrenheit -32) * 5/9
print(f"{calculate_fahrenheit}℉ = {calculate_celsius:.2f}℃")

98.6℉ = 37.00℃

Problem 3: Compound Interest Calculator

In [8]:
# A = P(1 + r/n)^(nt)
principal = 1000
rate = 0.05
years = 5
compounds_per_year = 12
amount = principal * (1 + rate/compounds_per_year) ** (compounds_per_year * years)
print(f"Future value: ${amount:.2f}")

Future value: $1283.36

Problem 4: Time Conversion

In [10]:
total_seconds = 7385
hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

print(f"{total_seconds} seconds = {hours}h {minutes}m {seconds}s")

7385 seconds = 2h 3m 5s

Assignment Operators

In [11]:
x = 5
x += 3
x *= 2
x /= 4
x %= 2
x **= 3
x //= 2
print(x)

0.0

Boolean Expressions

In [12]:
g = 5
k = 3
print(g > k)
print(g < k)
print(g >= k)
print(g <= k)
print(g == k)
print(g != k)

True
False
True
False
False
True