3. 02_lists - Introduction to lists, their properties, methods, and how to manipulate list
elements.

Problem 1: List Creation and Access

In [2]:
countries = ['USA' , 'CANADA' , 'UK' , 'JAPAN' , 'PAKISTAN']
print(countries[2])

countries[1] = 'AUSTRALIA'
print(countries)

print(countries[-2:])

UK
['USA', 'AUSTRALIA', 'UK', 'JAPAN', 'PAKISTAN']
['JAPAN', 'PAKISTAN']

Problem 2: List Operations

In [5]:
make_list1 = [1,2,3]
make_list2 = [4,5,6]

combined_list = make_list1 + make_list2
print(combined_list)

repeated_list = make_list1 *3
print(repeated_list)

print(4 in combined_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
True

Problem 3: List Manipulation

In [6]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']

colors.remove('blue')

colors.insert(0, 'orange')

colors[colors.index('yellow')] = 'pink'

print(colors)

['orange', 'red', 'green', 'pink', 'purple']

Problem 4: List Slicing Challenge

In [8]:
numbers = [0,1,2,3,4,5,6,7,8,9]
evens = numbers[::2]

first_half = numbers[:len(numbers) //2]

reversed_numbers = numbers[::-1]

print(evens)
print(first_half)
print(reversed_numbers)

[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Problem 5: Nested Lists

In [13]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
]

print(matrix[1][2])

matrix[1][1] = 0
print(matrix)

for row in matrix:
    for num in row:
      print(num, end=' ')
    print()

6
[[1, 2, 3], [4, 0, 6], [7, 8, 9]]
1 2 3
4 0 6
7 8 9

List Comprehensions

In [17]:
squares = [x**2 for x in range(1, 6)]
print(squares)

evens = [x for x in range(20) if x % 2 == 0]
print(evens)

matrix = [[i + j for j in range(3)] for i in range(3)]
print(matrix)

[1, 4, 9, 16, 25]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[[0, 1, 2], [1, 2, 3], [2, 3, 4]]

Copying Lists

In [19]:
original = [1, 2, 3]
shallow_copy = original.copy()      # Method 1
deep_copy = original[:]             # Method 2
shallow_copy[0] = 100

print(original)
print(shallow_copy)
print(deep_copy)

[1, 2, 3]
[100, 2, 3]
[1, 2, 3]

List as Stack and Queue

In [21]:
stack = []
stack.append(1)
stack.append(2)
popped = stack.pop()
print(popped)

queue = []
queue.append(1)
queue.append(2)
first = queue.pop(0)
print(first)

2
1